body
  background: black
  color: white
a
  color: yellow
.drag
  background: #333

input
  vertical-align: middle
  &[type="number"]
    width: 3rem
  &[type="range"]
    width: 5rem
    color: #ccc
label
  margin-right: 0.2rem
.group
  display: inline-block
  margin-right: 1rem
.boxId
  display: inline-block
  margin-inline: 1rem
  font-weight: bold
.actual
  margin-left: 0.25rem
  color: red

svg
  margin-top: 1rem
  background: white
image:hover
  filter: sepia(1) !important

.prototypes
  margin-bottom: 1rem
  border: double 5px
  padding: 0.75rem
  background: #222
  cursor: default
  &:hover
    background: #333
  .draghere
    font-size: x-large
    margin-bottom: 0.5rem
.prototype
  margin: 0.1rem
  border: dashed orange
  &.active
    border: solid rgb(154, 255, 154)
