body
  background: black
  color: white

input
  vertical-align: middle
  &[type="number"]
    width: 3rem
  &[type="range"]
    width: 5rem
    color: #ccc
label
  margin-right: 0.2rem
.group
  display: inline-block
  margin-right: 1rem
.boxId
  display: inline-block
  margin-inline: 1rem
  font-weight: bold

svg
  margin-top: 1rem
  background: white
image:hover
  filter: sepia(1) !important

.prototypes
  margin-top: 1rem
.prototype
  margin: 0.1rem
  border: dashed orange
  &.active
    border: solid rgb(154, 255, 154)